<div id="<%= dom_id enemy %>">
  <p>
    <strong>Name:</strong>
    <%= enemy.name %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= enemy.hp %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= enemy.power %>
  </p>

  <p>
    <strong>Xp on defeat:</strong>
    <%= enemy.xp_on_defeat %>
  </p>

  <p>
    <strong>Gold on defeat:</strong>
    <%= enemy.gold_on_defeat %>
  </p>

</div>
