<div id="<%= dom_id character_info %>">
  <p>
    <strong>Character:</strong>
    <%= character_info.character_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character_info.level %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= character_info.experience %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= character_info.hp %>
  </p>

  <p>
    <strong>Coziness:</strong>
    <%= character_info.coziness %>
  </p>

  <p>
    <strong>Fluffiness:</strong>
    <%= character_info.fluffiness %>
  </p>

  <p>
    <strong>Sleepiness:</strong>
    <%= character_info.sleepiness %>
  </p>

</div>
