<div id="<%= dom_id event %>">
  <p>
    <strong>Type:</strong>
    <%= event.type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Enemy:</strong>
    <%= event.enemy_id %>
  </p>

  <p>
    <strong>Gold found:</strong>
    <%= event.gold_found %>
  </p>

</div>
