<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.text_field :kind %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :enemy_id, style: "display: block" %>
    <%= form.text_field :enemy_id %>
  </div>

  <div>
    <%= form.label :gold_found, style: "display: block" %>
    <%= form.number_field :gold_found %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
