<div id="<%= dom_id adventure_event %>">
  <p>
    <strong>Adventure:</strong>
    <%= adventure_event.adventure_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= adventure_event.event_id %>
  </p>

  <p>
    <strong>Completes adventure:</strong>
    <%= adventure_event.completes_adventure %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= adventure_event.weight %>
  </p>

</div>
