<%= form_with(model: adventure_event) do |form| %>
  <% if adventure_event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(adventure_event.errors.count, "error") %> prohibited this adventure_event from being saved:</h2>

      <ul>
        <% adventure_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :adventure_id, style: "display: block" %>
    <%= form.text_field :adventure_id %>
  </div>

  <div>
    <%= form.label :event_id, style: "display: block" %>
    <%= form.text_field :event_id %>
  </div>

  <div>
    <%= form.label :completes_adventure, style: "display: block" %>
    <%= form.check_box :completes_adventure %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.number_field :weight %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
